# dependencies
node_modules

# Build and test artifacts
coverage
.cache
*.tsbuildinfo
dist

# Documentation
docs/*

# Editor files
*.swp
*.swo
.vscode/settings.json

# Temporary files
*.log
log/
tmp/
*.tmp

# NPM Package
*.tgz

# yarn w/o zero-installs
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# MacOS
.DS_Store
