# dependencies
node_modules

# Build and test artifacts
coverage
.cache
*.tsbuildinfo
dist

# Editor files
*.swp
*.swo

# Temporary files
*.log

# yarn w/o zero-installs
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# MacOS
.DS_Store
